<div class="container">
  <div class="card">
    <span class="titulo">{{isViewEdicao ? "Edição" : "Cadastro"}} de Turma</span>
    <form class="conteudo" [formGroup]="formCadsatroTurma" (ngSubmit)="onSubmit()">
      <input-custom label="Período" placeholder="2021.1" [formGroup]="formCadsatroTurma" formName="periodo"></input-custom>
      <app-input-dropdown (onSelect)="onSelectDisciplina($event)" [itens]="dropdownDisciplina" label="Selecione a disciplina" [formGroup]="formCadsatroTurma" formName="disciplina"></app-input-dropdown>
      <app-input-dropdown [itens]="dropdownProfessor" label="Selecione o professor" [formGroup]="formCadsatroTurma" formName="professor"></app-input-dropdown>
      <button-custom [texto]="getTextoBotao()"></button-custom>
    </form>
  </div>
</div>
