<div class="container">
  <div class="filtro">
    <div class="turma">
      <span>Professor: {{professor.nome}}</span>
    </div>
    <button-custom texto="Adicionar Avaliação" (click)="abrirTelaCadastroAvaliacao()" *ngIf="estudanteService.isAutenticado()"></button-custom>
  </div>
  <div class="card" *ngFor="let avaliacao of avaliacoes">
    <div class="cabecalho">
      <span class="titulo">{{avaliacao.matriculaEstudante}}</span>
      <div class="botoes" *ngIf="isDonoAvaliacao(avaliacao.matriculaEstudante)">
        <span (click)="abrirTelaEdicaoAvaliacao(avaliacao)">Editar</span>
        <span (click)="deletarAvaliacao(avaliacao.id)">Excluir</span>
      </div>
    </div>
    <div class="conteudo">
      <span>{{avaliacao.avaliacao}}</span>
      <span>Nota: {{avaliacao.nota}}/5</span>
    </div>
  </div>
</div>
