<div class="container">
  <div class="card">
    <span class="titulo">Cadastrar-se</span>
    <form class="conteudo" [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
      <div class="row">
        <input-custom label="Nome" [formGroup]="formCadastro" formName="nome" class="input-custom"></input-custom>
        <input-custom label="Matricula" [formGroup]="formCadastro" formName="matricula" class="input-custom"></input-custom>
      </div>
      <div class="row">
        <input-custom label="E-mail" type="email" [formGroup]="formCadastro" formName="email" class="input-custom"></input-custom>
        <input-custom label="Curso" [formGroup]="formCadastro" formName="curso" class="input-custom"></input-custom>
      </div>
      <input-custom label="Senha" type="password" [formGroup]="formCadastro" formName="senha"></input-custom>
      <button-custom texto="Cadastrar"></button-custom>
    </form>
    <span class="aviso">Já possuí conta? Autentique-se <a routerLink="/auth">aqui</a>!</span>
  </div>
</div>
