.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  color: #DEE2E6;
  font-size: 18px;
  padding-bottom: 6px;
}

input {
  padding: 8px;
  font-size: 15px;
  text-align: left;
  border-width: 1px;
  border-radius: 3px;
  border-style: solid;
  background-color: #dee2e6;
  border-color: #ced4da;
  box-shadow: 0px 0px 1px 0px rgba(42,42,42,.75);
  font-weight: normal;
  font-family: monospace;
}

input:focus {
  outline:none;
}

