<div class="container">
  <div class="card">
    <span class="titulo">{{isViewEdicao ? "Edição" : "Cadastro"}} de Professor</span>
    <form class="conteudo" [formGroup]="formCadastroProfessor" (ngSubmit)="onSubmit()">
      <input-custom label="Nome" placeholder="Vitor Versiani" [formGroup]="formCadastroProfessor" formName="nome"></input-custom>
      <app-input-dropdown [itens]="dropdownDisciplina" label="Disciplina" [formGroup]="formCadastroProfessor" formName="disciplina"></app-input-dropdown>
      <app-input-dropdown [itens]="dropdownDepartamento" label="Departamento" [formGroup]="formCadastroProfessor" formName="departamento"></app-input-dropdown>
      <button-custom [texto]="getTextoBotao()"></button-custom>
    </form>
  </div>
</div>
