<div class="container">
  <div class="filtro" *ngIf="estudanteService.isAdministrador()">
    <button-custom texto="Adicionar Turma" (click)="abrirTelaCriarTurma()"></button-custom>
  </div>
  <div class="card" *ngFor="let turma of turmas">
    <div class="cabecalho">
      <span class="titulo">{{turma.disciplina.nome}}</span>
      <div class="botoes" *ngIf="estudanteService.isAdministrador()">
        <span (click)="editarTurma(turma)">Editar</span>
        <span (click)="deletarTurma(turma.id)">Excluir</span>
      </div>
    </div>
    <div class="conteudo">
      <span>Período: {{turma.periodo}}</span>
      <span>Professor: {{turma.professor.nome}}</span>
      <span (click)="abrirTelaDeAvaliacoesDaTurma(turma)">Ver avaliações</span>
    </div>
  </div>
</div>
