.container {
  flex-direction: column;
  padding-top: 5%;
}

.filtro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 800px;
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #212529;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
  width: 800px;
  margin-bottom: 40px;
  cursor: pointer;
}

.cabecalho {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #DEE2E6;
  font-size: 18px;
}

.titulo {
  font-weight: 800;
  font-size: 28px;
}

.botoes {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.botoes > span {
  cursor: pointer;
}

.conteudo {
  display: flex;
  flex-direction: column;
}

.conteudo > span {
  color: #DEE2E6;
  font-size: 18px;
  letter-spacing: 1px;
}

.conteudo > span:nth-child(2) {
  margin: 10px 0;
}
